@use './reset.scss';
@use './css_utility.scss';
@use '@fontsource/ibm-plex-sans';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary-color: rgba(88, 155, 213, 1);
$grey-color: rgba(108, 108, 108, 1);
$white-color: #fff;
$dark-color: #2c2e45;

body {
  font-family: 'Poppins', sans-serif;
  background-color: $dark-color;
  color: $white-color;
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

%link {
  text-decoration: none;
}

a {
  @extend %link;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  text-decoration: underline;
}

a.special-button:hover {
  text-decoration: none;
}
a.special-button:focus {
  text-decoration: none;
}

svg {
  max-width: 100%;
  height: auto;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-white {
  background-color: $white-color;
}

.bg-dark {
  background-color: $dark-color;
}

.bg-grey {
  background-color: $grey-color;
}

.text-primary {
  color: $primary-color;
}

.text-white {
  color: $white-color;
}

.text-dark {
  color: $dark-color;
}

::-webkit-scrollbar {
  display: block;
  width: 1px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $grey-color;
  border-right: none;
  border-left: none;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}
